<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.xrosstools.xunit.editor.UnitDiagramGraphicalEditor"
            default="true"
            contributorClass="com.xrosstools.xunit.editor.UnitActionBarContributor"
            extensions="xunit"
            icon="icons/chain.ico"
            id="com.xrosstools.editor.UnitDiagramGraphicalEditor"
            name="Xross Unit Diagram Editor">
         <contentTypeBinding
               contentTypeId="com.xrosstools.xunit">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.xrosstools"
            name="Xross Tools">
      </category>
      <wizard
            category="com.xrosstools"
            class="com.xrosstools.xunit.editor.NewXunitWizard"
            icon="icons/chain.ico"
            id="com.xrosstools.xunit.editor.newWizard"
            name="New Xross Unit Wizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            alias-for="xu"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xunit"
            id="com.xrosstools.xunit"
            name="Xross Unit"
            priority="high">
      </content-type>
   </extension>
</plugin>
